/* A list of all the LatinModern fonts available from 
 * "https://www.fontsquirrel.com/fonts/Latin-Modern-Roman".
 * This includes the font-family property and source of the .woff file.
*/
@font-face {
	font-family: 'lmromancaps';
	src: url('../Fonts/lmromancaps10-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'lmromancaps';
	src: url('../Fonts/lmromancaps10-oblique-webfont.woff') format('woff');
	font-style: italic;
}
@font-face {
	font-family: 'lmroman';
	src: url('../Fonts/lmroman10-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'lmroman';
	src: url('../Fonts/lmroman10-italic-webfont.woff') format('woff');
	font-style: italic;
}
@font-face {
	font-family: 'lmroman';
	src: url('../Fonts/lmroman10-bold-webfont.woff') format('woff');
	font-weight: bold;
}
 @font-face { 
	 font-family: 'lmroman-bold'; 
	 src: url('../Fonts/lmroman10-bold-webfont.woff') format('woff'); 
 } 
@font-face {
	font-family: 'lmroman';
	src: url('../Fonts/lmroman10-bolditalic-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'lmromandemi';
	src: url('../Fonts/lmromandemi10-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'lmromandemi';
	src: url('../Fonts/lmromandemi10-oblique-webfont.woff') format('woff');
	font-style: italic;
}
@font-face {
	font-family: 'lmromandunh';
	src: url('../Fonts/lmromandunh10-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'lmromandunh';
	src: url('../Fonts/lmromandunh10-oblique-webfont.woff') format('woff');
	font-style: italic;
}
@font-face {
	font-family: 'lmromanslant';
	src: url('../Fonts/lmromanslant10-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'lmromanslant';
	src: url('../Fonts/lmromanslant10-bold-webfont.woff') format('woff');
	font-weight: bold;
}
