body{
	margin-bottom:180px;
	margin-left: auto;
	margin-right: auto;
	padding-left:30px;
	padding-right:30px;
	max-width:750px;
	font-family:lmroman;
}
h1,h2{font-family:lmromancaps;}
em{font-family: `lmromanslant`;}
b{font-family: `lmroman-bold`;}
strong{font-family: `lmroman-bold`;}

/*code tag markup: */
code{background-color: #e4e6e8; padding: 1px 5px;}

/*Spoiler markup: */
  .spoiler {
    margin-bottom: 1em;
    padding: 0px 8px;
    border-radius: 3px;
    background-color: #eff0f1;
    max-height: 600px;
    scrollbar-color: rgba(0, 1, 0, 0.2) transparent;
    overflow: auto;
  }
  .spoiler > * {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    text-align: center;
  }
  .spoiler:hover > * {
    opacity: 1;
  }
  /* Keyboard keys formatting */
      kbd {
        font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
        background-color: #fff;
        border: 1px solid rgba(63, 63, 63, .25);
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(63, 63, 63, .25);
        color: #333;
        display: inline-block;
        font-size: .8em;
        margin: 0 .1em;
        padding: .1em .6em;
        white-space: nowrap
      }
/* Writing in hebrew */
/* Select any element with right-to-left text */
      :dir(rtl) {font-family:frankrl;}
